
es_venv/Lib/site-packages/cv2/__init__.py
es_venv/Lib/site-packages/cv2/__init__.pyi
es_venv/Lib/site-packages/cv2/__pycache__/__init__.cpython-312.pyc
es_venv/Lib/site-packages/cv2/__pycache__/config-3.cpython-312.pyc
es_venv/Lib/site-packages/cv2/__pycache__/config.cpython-312.pyc
es_venv/Lib/site-packages/cv2/__pycache__/load_config_py2.cpython-312.pyc
es_venv/Lib/site-packages/cv2/__pycache__/load_config_py3.cpython-312.pyc
es_venv/Lib/site-packages/cv2/__pycache__/version.cpython-312.pyc
es_venv/Lib/site-packages/cv2/aruco/__init__.pyi
es_venv/Lib/site-packages/cv2/barcode/__init__.pyi
es_venv/Lib/site-packages/cv2/config-3.py
es_venv/Lib/site-packages/cv2/config.py
es_venv/Lib/site-packages/cv2/cuda/__init__.pyi
es_venv/Lib/site-packages/cv2/cv2.pyd
es_venv/Lib/site-packages/cv2/data/__init__.py
es_venv/Lib/site-packages/cv2/data/__pycache__/__init__.cpython-312.pyc
es_venv/Lib/site-packages/cv2/data/haarcascade_eye.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_eye_tree_eyeglasses.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_frontalcatface.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_frontalcatface_extended.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_frontalface_alt.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_frontalface_alt2.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_frontalface_alt_tree.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_frontalface_default.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_fullbody.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_lefteye_2splits.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_license_plate_rus_16stages.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_lowerbody.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_profileface.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_righteye_2splits.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_russian_plate_number.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_smile.xml
es_venv/Lib/site-packages/cv2/data/haarcascade_upperbody.xml
es_venv/Lib/site-packages/cv2/detail/__init__.pyi
es_venv/Lib/site-packages/cv2/dnn/__init__.pyi
es_venv/Lib/site-packages/cv2/Error/__init__.pyi
es_venv/Lib/site-packages/cv2/fisheye/__init__.pyi
es_venv/Lib/site-packages/cv2/flann/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/__init__.py
es_venv/Lib/site-packages/cv2/gapi/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/__pycache__/__init__.cpython-312.pyc
es_venv/Lib/site-packages/cv2/gapi/core/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/core/cpu/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/core/fluid/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/core/ocl/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/ie/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/ie/detail/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/imgproc/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/imgproc/fluid/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/oak/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/onnx/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/onnx/ep/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/ot/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/ot/cpu/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/ov/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/own/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/own/detail/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/render/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/render/ocv/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/streaming/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/video/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/wip/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/wip/draw/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/wip/gst/__init__.pyi
es_venv/Lib/site-packages/cv2/gapi/wip/onevpl/__init__.pyi
es_venv/Lib/site-packages/cv2/ipp/__init__.pyi
es_venv/Lib/site-packages/cv2/LICENSE-3RD-PARTY.txt
es_venv/Lib/site-packages/cv2/LICENSE.txt
es_venv/Lib/site-packages/cv2/load_config_py2.py
es_venv/Lib/site-packages/cv2/load_config_py3.py
es_venv/Lib/site-packages/cv2/mat_wrapper/__init__.py
es_venv/Lib/site-packages/cv2/mat_wrapper/__pycache__/__init__.cpython-312.pyc
es_venv/Lib/site-packages/cv2/misc/__init__.py
es_venv/Lib/site-packages/cv2/misc/__pycache__/__init__.cpython-312.pyc
es_venv/Lib/site-packages/cv2/misc/__pycache__/version.cpython-312.pyc
es_venv/Lib/site-packages/cv2/misc/version.py
es_venv/Lib/site-packages/cv2/ml/__init__.pyi
es_venv/Lib/site-packages/cv2/ocl/__init__.pyi
es_venv/Lib/site-packages/cv2/ogl/__init__.pyi
es_venv/Lib/site-packages/cv2/opencv_videoio_ffmpeg4100_64.dll
es_venv/Lib/site-packages/cv2/parallel/__init__.pyi
es_venv/Lib/site-packages/cv2/py.typed
es_venv/Lib/site-packages/cv2/samples/__init__.pyi
es_venv/Lib/site-packages/cv2/segmentation/__init__.pyi
es_venv/Lib/site-packages/cv2/typing/__init__.py
es_venv/Lib/site-packages/cv2/typing/__pycache__/__init__.cpython-312.pyc
es_venv/Lib/site-packages/cv2/utils/__init__.py
es_venv/Lib/site-packages/cv2/utils/__init__.pyi
es_venv/Lib/site-packages/cv2/utils/__pycache__/__init__.cpython-312.pyc
es_venv/Lib/site-packages/cv2/utils/fs/__init__.pyi
es_venv/Lib/site-packages/cv2/utils/nested/__init__.pyi
es_venv/Lib/site-packages/cv2/version.py
es_venv/Lib/site-packages/cv2/videoio_registry/__init__.pyi
es_venv/Lib/site-packages/opencv_python-4.10.0.84.dist-info/INSTALLER
es_venv/Lib/site-packages/opencv_python-4.10.0.84.dist-info/LICENSE-3RD-PARTY.txt
es_venv/Lib/site-packages/opencv_python-4.10.0.84.dist-info/LICENSE.txt
es_venv/Lib/site-packages/opencv_python-4.10.0.84.dist-info/METADATA
es_venv/Lib/site-packages/opencv_python-4.10.0.84.dist-info/RECORD
es_venv/Lib/site-packages/opencv_python-4.10.0.84.dist-info/REQUESTED
es_venv/Lib/site-packages/opencv_python-4.10.0.84.dist-info/top_level.txt
es_venv/Lib/site-packages/opencv_python-4.10.0.84.dist-info/WHEEL
es_venv/Lib/site-packages/packaging-24.1.dist-info/INSTALLER
es_venv/Lib/site-packages/packaging-24.1.dist-info/LICENSE
es_venv/Lib/site-packages/packaging-24.1.dist-info/LICENSE.APACHE
es_venv/Lib/site-packages/packaging-24.1.dist-info/LICENSE.BSD
es_venv/Lib/site-packages/packaging-24.1.dist-info/METADATA
es_venv/Lib/site-packages/packaging-24.1.dist-info/RECORD
es_venv/Lib/site-packages/packaging-24.1.dist-info/WHEEL
es_venv/Lib/site-packages/packaging/__init__.py
es_venv/Lib/site-packages/packaging/__pycache__/__init__.cpython-312.pyc
es_venv/Lib/site-packages/packaging/__pycache__/_elffile.cpython-312.pyc
es_venv/Lib/site-packages/packaging/__pycache__/_manylinux.cpython-312.pyc
es_venv/Lib/site-packages/packaging/__pycache__/_musllinux.cpython-312.pyc
es_venv/Lib/site-packages/packaging/__pycache__/_parser.cpython-312.pyc
es_venv/Lib/site-packages/packaging/__pycache__/_structures.cpython-312.pyc
es_venv/Lib/site-packages/packaging/__pycache__/_tokenizer.cpython-312.pyc
es_venv/Lib/site-packages/packaging/__pycache__/markers.cpython-312.pyc
es_venv/Lib/site-packages/packaging/__pycache__/metadata.cpython-312.pyc
es_venv/Lib/site-packages/packaging/__pycache__/requirements.cpython-312.pyc
es_venv/Lib/site-packages/packaging/__pycache__/specifiers.cpython-312.pyc
es_venv/Lib/site-packages/packaging/__pycache__/tags.cpython-312.pyc
es_venv/Lib/site-packages/packaging/__pycache__/utils.cpython-312.pyc
es_venv/Lib/site-packages/packaging/__pycache__/version.cpython-312.pyc
es_venv/Lib/site-packages/packaging/_elffile.py
es_venv/Lib/site-packages/packaging/_manylinux.py
es_venv/Lib/site-packages/packaging/_musllinux.py
es_venv/Lib/site-packages/packaging/_parser.py
es_venv/Lib/site-packages/packaging/_structures.py
es_venv/Lib/site-packages/packaging/_tokenizer.py
es_venv/Lib/site-packages/packaging/markers.py
es_venv/Lib/site-packages/packaging/metadata.py
es_venv/Lib/site-packages/packaging/py.typed
es_venv/Lib/site-packages/packaging/requirements.py
es_venv/Lib/site-packages/packaging/specifiers.py
es_venv/Lib/site-packages/packaging/tags.py
es_venv/Lib/site-packages/packaging/utils.py
es_venv/Lib/site-packages/packaging/version.py
es_venv/Lib/site-packages/pytesseract-0.3.13.dist-info/entry_points.txt
es_venv/Lib/site-packages/pytesseract-0.3.13.dist-info/INSTALLER
es_venv/Lib/site-packages/pytesseract-0.3.13.dist-info/LICENSE
es_venv/Lib/site-packages/pytesseract-0.3.13.dist-info/METADATA
es_venv/Lib/site-packages/pytesseract-0.3.13.dist-info/RECORD
es_venv/Lib/site-packages/pytesseract-0.3.13.dist-info/REQUESTED
es_venv/Lib/site-packages/pytesseract-0.3.13.dist-info/top_level.txt
es_venv/Lib/site-packages/pytesseract-0.3.13.dist-info/WHEEL
es_venv/Lib/site-packages/pytesseract/__init__.py
es_venv/Lib/site-packages/pytesseract/__pycache__/__init__.cpython-312.pyc
es_venv/Lib/site-packages/pytesseract/__pycache__/pytesseract.cpython-312.pyc
es_venv/Lib/site-packages/pytesseract/pytesseract.py
es_venv/Scripts/pytesseract.exe
